/* CSS */
body{
    margin-top: 25px;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
    font-size: 30px;
    font-weight: 700;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
}
table{
    table-layout: fixed;
    column-width: 200px 400px;
    background-color: #ffffcd;
    border-color: blue;
    border-collapse: collapse;
    width: 600px;
    margin: auto;
}
fieldset{
    width: 60%;
    margin: 5px auto;
}
textarea
{
    resize: vertical;
}
.title{
    margin: 5px;
    color: blue;
}
.txt{
    margin: 5px;
}
.btn{
    margin: 5px;
}
#thongbao{
    display: block;
    text-align: center;
    color: #B90003;
    line-height: 200%;
    font-size: larger;
    font-weight: bold;
}